@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html 
{
	font-size: 10px;
	font-family: cursive, "Montserrat", "Roboto", sans-serif;
	font-style: italic;
	scroll-behavior: smooth;
}

body
{
		background-color: rgb(102, 102, 102);
		overflow-x: hidden;
}

#loading
{
    position: fixed;
    background: rgb(102, 102, 102)
    url('load2.gif')
    no-repeat center;
    height: 100vh;
    width: 100%;
    z-index: 999999;
}

a 
{
	text-decoration: none;
}

.container 
{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img 
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p 
{
	color: white;
	font-size: 2rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

.section-title 
{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

.section-title span 
{
	color: white;
}

.cta 
{
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid black;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}

.cta:hover 
{
	color: white;
	background-color: black;
}

.brand h1 
{
	font-size: 3rem;
	text-transform: uppercase;
	color: black;
}

.brand h1 span 
{
	color: white;
}

/* Header section */
#header 
{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header 
{
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}

#header .nav-bar 
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul 
{
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}

#header .nav-list ul.active 
{
	left: 0%;
}

#header .nav-list ul a 
{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after 
{
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-100%, -100%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after 
{
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a 
{
	color: black;
}

#header .hamburger 
{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}

#header .hamburger:after 
{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar 
{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before 
{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after 
{
	top: 8px;
}

#header .hamburger .bar::before 
{
	bottom: 8px;
}

#header .hamburger.active .bar::before 
{
	bottom: 0;
}

#header .hamburger.active .bar::after 
{
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero 
{
	background-image: url(https://images.pexels.com/photos/364096/pexels-photo-364096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#hero::after 
{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}

#hero .hero 
{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 
{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}

#hero h1:nth-child(1) 
{
	animation-delay: 1s;
}

#hero h1:nth-child(2) 
{
	animation-delay: 2s;
}

#hero h1:nth-child(3) 
{
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span 
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: black;
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}

#hero h1:nth-child(1) span 
{
	animation-delay: .5s;
}

#hero h1:nth-child(2) span 
{
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span 
{
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Form Section */
#form
{
    top: 0;
    left: 0;
    position: center;
    content: object-fit;
}
/* End Form Section */

/* End Hero Section */

/* forms Section */

#forms .forms
 {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
	width: 100%;
	border-radius: 10px;
}

#forms .form-top 
{
	max-width: 500px;
	margin: 0 auto;
}

#forms .form-bottom 
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	width: 100%;
}

#forms .form-item {
    width: 90%;
    max-width:600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#forms .form-item iframe{
   width:100%
}

#forms .form-item::after 
{

	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

/* End forms Section */

/* Footer */

#footer 
{
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer 
{
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer h2 
{
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .social-icon 
{
	display: flex;
	margin-bottom: 30px;
}

#footer .social-item 
{
	height: 40px;
	width: 40px;
	margin: 0 5px;
}

#footer .social-item img 
{
	filter: grayscale(1);
	transition: .3s ease filter;
}

#footer .social-item:hover img 
{
	filter: grayscale(0);
}

#footer p 
{
	color: white;
	font-size: 1.3rem;
}

/* Policies Section*/
#policies
{
list-style: none;
text-align: center;
justify-content: center;
}

.policies a
{
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 500;
	text-decoration: none;
	color: black;
	padding: 15px;
}

.policies a:hover
{
	cursor: pointer;
	color: white;
}
/* End Policies Section */
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls 
{
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% 
	{
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box 
{
	50% 
	{
		width: 100%;
		left: 0;
	}

	100% 
	{
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal 
{
	100% 
	{
		color: white;
	}
}

@keyframes text_reveal_name 
{
	100% 
	{
		color: black;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) 
{
	.cta 
	{
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title 
	{
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 
	{
		font-size: 7rem;
	}
	/* End Hero */

	/* Forms Section */
	#forms .form-bottom .form-item 
	{
		flex-basis: 80%;
		margin: 2.5%;
	}
	/* End Forms Section */

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) 
{
	/* header */
	#header .hamburger 
	{
		display: none;
	}

	#header .nav-list ul
	{
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li 
	{
		display: inline-block;
	}

	#header .nav-list ul li a 
	{
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after 
	{
		display: none;
	}
	/* End header */

	#forms .form-bottom .form-item 
	{
		flex-basis: 50%;
		margin: 1.5%;
	}
	
	/* Policies Section*/
#policies
{
list-style: none;
text-align: center;
justify-content: center;
}

.policies a
{
	font-size: 1.6rem;
	line-height: 2rem;
	font-weight: 500;
	text-decoration: none;
	color: black;
	padding: 15px;
}

.policies a:hover
{
	cursor: pointer;
	color: white;
}
/* End Policies Section */
}
/* End  Media Query For Desktop */